<!DOCTYPE html>

<html>
	<head>
		<title>Welcome!</title>
		<link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
	</head>
	<body >
		<label style="font-family: 'Audiowide', cursive;">
		<font size="1000">Welcome,{{username}}!</font></label>


		<br><br>
        <button type=button style=' width:80px;height:30px'>
        <a href='logout' ><em style='color:skyblue;font size:15px'>
        Logout!!</em></a></button><br>
        <button type='button' style=' width:80px;height:50px'>
        <a href='Blog' >
        <em style='color:skyblue;font size:15px'>
        Go To Blog!!</em>
        </a></button>


	
	</body>
</html>